trigger:
- azure-pipeline

pool:
  vmImage: 'Ubuntu-16.04'

steps:
  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH
  - bash: |
      conda create --yes --name testenv
      source activate testenv
      conda install --yes -c conda-forge --file conda-requirements.txt
    displayName: Create conda env
  - bash: |
      source activate testenv
      pip install -r requirements.txt
    displayName: Install pypi requirements
  - bash: |
      source activate testenv
      make test
    displayName: Test scripts and notebooks
    env:
      AWS_ACCESS_KEY_ID: $(AWS_ACCESS_KEY_ID)
      AWS_SECRET_ACCESS_KEY: $(AWS_SECRET_ACCESS_KEY)
  - task: Docker@2
    displayName: Build the project docker image
    inputs:
      command: build
      Dockerfile: Dockerfile
