flake8
intake-dcat
intake-geopandas
jupyterlab>=1.0a3
geocoder
mapboxgl
altair
vega-datasets
mapclassify
feather-format
statsmodels
descartes
jupyternotify
usaddress
folium
openpyxl
geoalchemy2
psycopg2
papermill
intake-parquet
cpi
